.navContainer {
  width: 100%;
  height: var(--navbarHeight);
  background-color: var(--darkerBlue);
  box-shadow: 0px 0px 20px 1px rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.title {
  font-family: "Roboto Slab", serif;
  font-size: 1.8rem;
  color: white;
  user-select: none;
}
