* {
  box-sizing: border-box;
  --mediumWhite: rgba(255, 255, 255, 0.704);
  --darkWhite: rgba(255, 255, 255, 0.6);
  --greenTile: #86c95d;
  --yellowTile: #d7d761;
  --bodyBlue: #2f4858;
  --darkerBlue: #273640;
  --navbarHeight: 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.05s ease-in-out;
}

:root,
#root,
#app {
  height: 100%;
}

body {
  background-color: var(--bodyBlue);
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.toastContainer {
  width: 200px;
  height: 180px;
  position: absolute;
  top: calc(var(--navbarHeight) + 10px);
  left: 50%;
  transform: translate(-50%, 0);
}

.toast {
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
  padding: 10px;
  background-color: rgb(23, 22, 22);
  color: white;
  border-radius: 6px;
  animation: disappear 2s ease-in-out forwards;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.4);
}

@keyframes disappear {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  85% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
