*,
root {
  box-sizing: border-box;
  --mediumWhite: rgba(255, 255, 255, 0.704);
  --darkWhite: rgba(255, 255, 255, 0.6);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.05s ease-in-out;
}

body {
  background-color: #2f4858;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
