.keyBtn {
  background-color: var(--mediumWhite);
  border: none;
  border-radius: 6px;
  font-size: 1.25rem;
  padding: 10px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  user-select: none;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  height: 100%;
}

.keyBtn:active {
  background-color: var(--darkWhite);
}
