.keyBtn {
  background-color: var(--mediumWhite);
  border: none;
  border-radius: 6px;
  font-size: 1.3rem;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.keyBtn:active {
  background-color: var(--darkWhite);
}

@media only screen and (max-width: 600px) {
  .keyBtn {
    font-size: 1rem;
  }
}
